nehta_cda_v4.3.0/CDA.GeneratedCode/obj/
CDAAU.Core/bin/
CDAAU.DischargeSummary/bin/
CDAAU.DischargeSummary/obj/
CDAAU.EventSummary/bin/
CDAAU.EventSummary/obj/
CDAAU.Test/bin/
CDAAU.Test/obj/
nehta_cda_v4.3.0/Common/bin/
nehta_cda_v4.3.0/Common/obj/
/.vs/CDAAU/v16/Server/sqlite3
